@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.App {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sign-up {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin: 20px 0;
}

